<h2>NeuroToDo</h2>

{{#if todos.length}}
<div class="">
  <h6>I have a <span>{{ todos.length }} tasks:</span></h6>
</div>
<ul>
  {{#each todos}}
  <li class="todo">
    <label>
      <form action="/todos/complete" method="POST">
        {{#if completed}}
        <input type="checkbox" checked name="completed">
        <span class="completed">{{title}}</span>
        {{else}}
        <input type="checkbox" name="completed">
        <span>{{title}}</span>
        {{/if}}

        <input type="hidden" value="{{_id}}" name="id">
        <button class="btn btn-small" type="submit">
          Edit
        </button>
      </form>

      <form action="/todos/delete" method="POST">
        <input type="hidden" value="{{_id}}" name="id">
        <button type="submit">
          <i class="material-icons icon-delete">delete</i>
        </button>
      </form>

    </label>
  </li>
  {{/each}}
</ul>
{{else}}
<p>
  <h2>all tasks done</h2>
</p>
{{/if}}
