<h2>Планировщик NeuroToDo</h2>

{{#if todos.length}}
<ul>
  {{#each todos}}
  <li class="todo">

    <form action="/todos/complete" method="POST">
      <label>
        {{#if completed}}
        <input type="checkbox" checked name="completed">
        <span class="completed">{{title}}yes</span>
        {{else}}
        <input type="checkbox" name="completed">
        <span>{{title}}non</span>
        {{/if}}

        <input type="hidden" value="{{_id}}" name="id">

        <button class="btn btn-small" type="submit">Изменить</button>
      </label>
    </form>
  </li>
  {{/each}}
</ul>
{{else}}
<p>
  <h2>Задач пока нет</h2>
</p>
{{/if}}
